.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #dfdfdf;
}

body {
  height: 100vh;

  background: linear-gradient(
    268deg,
    #f3c5b0,
    #121212,
    #c1cbf3,
    #000000,
    #d8f5c5,
    #10100f
  );
  background-size: 1200% 1200%;

  animation: AnimationName 120s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 17% 0%;
  }
  25% {
    background-position: 45% 50%;
  }

  50% {
    background-position: 84% 100%;
  }

  75% {
    background-position: 45% 50%;
  }
  100% {
    background-position: 17% 0%;
  }
}
