.Phonetics button {
  border: none;
  font-size: 2rem;
  cursor: pointer;
  background: none;
  transition: all 50ms ease-in-out;
}

.Phonetics button:hover {
  color: #30c5ff;
}

.Phonetics p {
  display: inline;
  padding-left: 0.5rem;
  vertical-align: 40%;
}
