.Photos .photos-grid {
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem;
}

.Photos img {
  max-width: 100%;
  display: block;
  border-radius: 0.25rem;
}

.Photos .photos-grid:nth-child(1) {
  grid-area: one;
}
.Photos .photos-grid:nth-child(2) {
  grid-area: two;
}
.Photos .photos-grid:nth-child(3) {
  grid-area: three;
}
.Photos .photos-grid:nth-child(4) {
  grid-area: four;
}
.Photos .photos-grid:nth-child(5) {
  grid-area: five;
}
.Photos .photos-grid:nth-child(6) {
  grid-area: six;
}
.Photos .photos-grid:nth-child(7) {
  grid-area: seven;
}
.Photos .photos-grid:nth-child(8) {
  grid-area: eight;
}
.Photos .photos-grid:nth-child(9) {
  grid-area: nine;
}

@media screen and (min-width: 700px) {
  .Photos .photos-grid {
    grid-template-areas:
      "one two three"
      "four five six"
      "seven eight nine";
  }

  .Photos img:hover {
    opacity: 0.7;
  }
}
